/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.banner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.imgFramework {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}